<html>
<head>
    <link rel="stylesheet" href="~/Content/menuStyles.css" />
</head>


<body id="body">

    <div class="perma_container_menu no-gutters for">
        @{
            bool State = (bool)ViewData["Log-In"];
            bool Role = (bool)ViewData["Role"];
        }
        @if (State)
        {
            if (Role)
            {
                <div class="float-left">
                    <div class="row form-group">
                        <div class="row  flex-row-reverse no-gutters for">
                            @using (Html.BeginForm("RegisterFlight", "Home"))
                            {
                                <button type="submit" class="btn btn-primary-2">
                                    <h3 id="sub_theme">
                                        Registrar Vuelo
                                    </h3>
                                </button>
                            }


                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <div class="row form-group">
                        <h3 id="sub_theme_2">
                            @ViewData["Nombre"]
                        </h3>
                        <div class="row  flex-row-reverse no-gutters for">
                            @using (Html.BeginForm("Logout", "Home"))
                            {
                                <button type="submit" class="btn btn-primary-3">
                                    <h3 id="sub_theme">
                                        Cerrar Sesión
                                    </h3>
                                </button>
                            }


                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="float-right">
                    <div class="row form-group">
                        <h3 id="sub_theme_2">
                            @ViewData["Nombre"]
                        </h3>
                        <div class="row  flex-row-reverse no-gutters for">
                            @using (Html.BeginForm("Logout", "Home"))
                            {
                                <button type="submit" class="btn btn-primary-3">
                                    <h3 id="sub_theme">
                                        Cerrar Sesión
                                    </h3>
                                </button>
                            }

                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="float-right">
                <div class="row form-group">
                    <div class="row  flex-row-reverse no-gutters for">
                        @using (Html.BeginForm("ToLogin","Home"))
                        {
                            <button type="submit" class="btn btn-primary-3">
                                <h3 id="sub_theme">
                                    Iniciar Sesión
                                </h3>
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
