

@{
    ViewBag.Title = "RegisterCustomer";
}

<head>
    <link rel="stylesheet" href="~/Content/registerCustomerStyle.css" />
</head>

<div class="container-fluid vertical-center">

    <section class="jumbotron" id="register_user">
        <div class="container-fluid">

            <!--Título de la página-->
            <div class="row form-group-mini">
                <h2 class="top-left ml-2 row-bottom-margin" id="header_color">Registrar Usuario</h2>
            </div>

            <div class="row">

                <!--Contenedor izquiedo: datos del usuario-->
                <div id="register_user_left">

                    <h3 id="sub_theme">
                        Datos del usuario
                    </h3>

                    <!--Ingreso del nombre y apellido-->
                    <div class="row form-group">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
                    <!--Ingreso del correo electrónico-->
                    <div class="row form-group">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Correo electrónico">
                        </div>
                    </div>
                    <!--Ingreso de la contraseña-->
                    <div class="row form-group">
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>
                    </div>

                    
                    <!--Ingreso del rut o número de pasaporte-->
                    <div class="row form-group">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Rut/Num. Pasaporte">
                            <small class="form-text text-muted ">
                                Rut con guion y sin punto (ej: 15433456-7).
                            </small>
                        </div>
                    </div>

                    


                </div><!--Fin del contenedor izquierdo-->
                <!--Contenedor derecho: contacto de emergencia-->
                <div id="register_user_right">

                    <h3 id="sub_theme">
                        Datos personales
                    </h3>
                    <!--Ingreso de la dirección física-->
                    <div class="row form-group">
                        <div class="col-7">
                            <input type="text" class="form-control" placeholder="Dirección">
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="Número">
                        </div>
                    </div>
                    <!--Ingreso del número telefónico-->
                    <div class="row form-group">
                        <div class="col-12">

                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">+56</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Número de teléfono">
                            </div>

                          

                        </div>
                        </div>

                    <h3 id="sub_theme">
                        Contacto de emergencia
                    </h3>
                    <!--Ingreso del nombre y apellido-->
                    <div class="row form-group">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
                    <!--Ingreso del número telefónico-->
                    <div class="form-row form-group">
                        <div class="col-12">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+56</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Número de teléfono">
                            </div>

                            
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-12">
                            <button type="button" id="register-button" class="btn btn-primary btn-block btn-lg">Registrar</button>
                        </div>
                    </div>

                </div><!--Fin contenedor derecho-->
                
            </div>
        </div> <!--Fin contenedor principal-->

    </section>
</div>