
@{
    ViewBag.Title = "RegisterCustomer";
}

<head>
    <link rel="stylesheet" href="~/Content/registerCustomerStyle.css" />
</head>

<div class="container-fluid vertical-center">

    <section id="register_user">
        <div class="container-fluid">

            <!--Título de la página-->
            <div class="row form-group">
                <h2 class="top-left ml-2 row-bottom-margin" id="header_color">Registrar Usuario</h2>
            </div>

            <div class="row form-group">

                <!--Contenedor izquiedo: datos del usuario-->
                <div id="register_user_left">

                    <h3 id="sub_theme">
                        Datos del usuario
                    </h3>

                    <!--Ingreso del nombre y apellido-->
                    <div class="row form-group">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
                    <!--Selección de rut o número de pasaporte-->
                    <div class="row form-group-mini">
                        <div class="col-12">
                            <select class="form-control">
                                <option value="" disabled selected>Rut/Num. Pasaporte</option>
                                <option value="rut">Rut</option>
                                <option value="pasaporte">Número de pasaporte</option>
                            </select>
                        </div>
                    </div>
                    <!--Ingreso del rut o número de pasaporte-->
                    <div class="row form-group">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Rut/Num. Pasaporte">
                            <small class="form-text text-muted space">
                                Sin guión ni punto.
                            </small>
                        </div>
                    </div>
                    <!--Ingreso del correo electrónico-->
                    <div class="row form-group">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Correo electrónico">
                        </div>
                    </div>
                    <!--Ingreso de la dirección física-->
                    <div class="row form-group">
                        <div class="col-7">
                            <input type="text" class="form-control" placeholder="Dirección">
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="Número">
                        </div>
                    </div>
                    <!--Ingreso del número telefónico-->
                    <div class="row form-group">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Número de teléfono">
                        </div>
                    </div>

                </div><!--Fin del contenedor izquierdo-->
                <!--Contenedor derecho: contacto de emergencia-->
                <div id="register_user_right">

                    <h3 id="sub_theme">
                        Contacto de emergencia
                    </h3>

                    <!--Ingreso del nombre y apellido-->
                    <div class="row form-group">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
                    <!--Ingreso del número telefónico-->
                    <div class="form-row form-group-max">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Número de teléfono">
                        </div>
                    </div>

                    <!--Botón registrar-->
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-block btn-lg">Registrar</button>
                        </div>
                    </div>

                </div><!--Fin contenedor derecho-->

            </div>
        </div> <!--Fin contenedor principal-->

    </section>
</div>