@{
    ViewBag.Title = "Voucher";
}

<head>
    <link rel="stylesheet" href="~/Content/makeMeisterStyles.css" />
    <link rel="stylesheet" href="~/Content/registerCustomerStyle.css" />
</head>

<div class="login-container">

    <div class="jumbotron" id="voucher">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="float-left row flex-row-reverse no-gutters">
                    @using (Html.BeginForm("BackToMenu", "Home"))
                    {
                        <button type="submit" class="btn btn-primary" id="voucherButton">Volver al Menu</button>
                    }
                </div>
                <div class="float-right row flex-row-reverse no-gutters">
                    @using (Html.BeginForm("Logout", "Home"))
                    {
                        <button type="submit" class="btn btn-primary">Cerrar sesión</button>
                    }
                </div>
            </div>
        </div>

        <h2 class="text-break ml-2 md-2" style="margin-top: 20px" id="header_color">
            @ViewData["Mensaje"]
        </h2>

        <img src="../images/avion.png"style="width:100%" alt="avion">

        
        <div class="row no-gutters" style="margin-top:5vh">
            <div class="col-12 d-flex justify-content-center">
                <div class="float-right row  no-gutters">
                    <button style="" id="downloadVoucherButton" type="button" onclick="window.open('@Url.Action("SendVoucher","Home")')" class="btn btn-voucher btn-lg">Descargar el Comprobante</button>
                </div>
            </div>
        </div>

    </div>

    </div>